<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title max CP by level Pokémons
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
  body

    - var pokeTypes = ['normal', 'fighting', 'flying', 'poison', 'ground', 'rock', 'bug', 'ghost', 'steel', 'fire', 'water', 'grass', 'electric', 'psychic', 'ice', 'dragon', 'dark', 'fairy'];

    h1.intro max CP by level Pokémons
      small vue version

    .box
      .pokeMaxCP#pokeMaxCP
        - each type in pokeTypes
          input.ctrlFilter__checkbox.sr-only(type="checkbox", id="ck-#{type}", class="ck-#{type}", checked)

        .pokeMaxCP__ctrl
          label.pokeMaxCP__masterLvLabel(for="masterLv", :data-level="level") Your Level: 
          input(type="number", min="1", max="40", v-model.number="level")
          input.pokeMaxCP__masterLv#masterLv(type="range", min="1", max="40", v-model.number="level")

          .ctrlSort
            button(
              :class="['ctrlSort__btn', { 'is-active': sort.by === 'id' }]",
              :data-sort-dir="sort.dir === 1 ? '▲' : '▼'",
              @click="sortBy('id')",
            ) ID
            button(
              :class="['ctrlSort__btn', { 'is-active': sort.by === 'maxcp' }]",
              :data-sort-dir="sort.dir === 1 ? '▲' : '▼'",
              @click="sortBy('maxcp')",
            ) CP
          .ctrlFilter--wrap
            .ctrlFilter
              - each type in pokeTypes
                label.ctrlFilter__label(for="ck-#{type}")= type

        ul.pokeList
          li.poke(v-for="pokemon in pokemons",
            :title="`${pokemon.name} [#${pokemon.id}]\ntyps: ${pokemon.types}`",
            :data-type="pokemon.types",
            :data-family-id="pokemon.familyId",
            @mousedown="selectFamily(pokemon.familyId)",
            @touchstart="selectFamily(pokemon.familyId)",
            :class="{ 'is-family-id-marked': filter.familyId === pokemon.familyId }",
            :style="{ backgroundPosition: pokemon.spritePos }"
          )
            .poke__name {{ pokemon.name }}
            .poke__maxcp {{ getMaxCpForTrainerLevel(pokemon, level) }}

          - each _ in Array(5)
            li.poke

    blockquote.info
      | Pokemons original data source: 
      a(href="https://github.com/vinnymac/PokeNurse/blob/master/baseStats.json") PokeNurse

    style.pokeInitCP
    script(src="vue-2.js")
    script(src="script.js")
