<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title snake
    link(rel="stylesheet", href="../css/snake.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
    script(src="http://leaverou.github.io/conic-gradient/conic-gradient.js")
    //- script(src="../../.temp/prefixfree.min.js")
    //- script(src="../../.temp/conic-gradient.js")

  body
    h1.intro [illusion] rotating snakes
      small circular snakes appear to rotate 'spontaneously'.

    mixin circleCycle(n)
      .circle(data-ind=n).r
        if n === 2
          .circle(data-ind=n-1).y

    mixin nest(n)
      if n === 0
        - return

      if (n - 2 > 0)
        .circle(data-ind=n).r
          .circle(data-ind=n-1).y
            .circle(data-ind=n-2).g
              +nest(n-3)
      else
        +circleCycle(n)


    .box-matrix
      - var i = 18
      - while(i--)
        .box
          +nest(20)



    blockquote.info
      | inspired from <a href="http://www.ritsumei.ac.jp/~akitaoka/index-e.html">Akiyoshi's illusion pages</a>

